.type17{
    background-color: white;
    p{
        height: .6rem;
        text-align: center;
        line-height: .6rem;
        font-weight: bold;
        border-bottom: .01rem solid lightgray;
        span{
            font-weight: normal;
        }
    }
    .type17content{
        &::after{
            content:"";
            display: block;
            clear: both;
            height: 0;
        }
        img{
            width:1.25rem;
            float: left;
        }
        h1,h2,h3{
            font-size: .16rem;
            font-weight: normal;
            position: relative;
            left: .18rem;
            line-height: .3rem;
          }
        h1{
            font-weight: bold;
            color: gray;
        }
        h2{
            font-size: .12rem;
            color: gray;
        }
        h3{
            color: orangered;
            font-size: .18rem;
            top: .1rem;
            span{
                font-size: .12rem;
                color: gray;
                text-decoration: line-through;
            }
        }
        padding: .15rem;
        border-bottom: .01rem solid lightgray;
    }
}