.tabbar{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: .5rem;
    line-height: .5rem;
    background: white;
    width: 100%;
    z-index: 3;
    border-top: .01rem solid lightgray;
    li{
        flex: 1;
        text-align: center
    }
}
.active{
    color: green;
    font-weight: bold;
}